$primaryTextColor: #48494D;
$desktopWidth: 1024px;
$tabletWidth: 1023px;
$mobileWidth: 767px;
$headerFooterBackground: #F5F5F9;
$navBurgerColor: #48494D;
$borderColor: #D7D9DF;
$activeButtonColor: #D12136;
$activeButtonFont: #FFFFFF;
$iconsDescriptionColor: rgba(72, 73, 77, 0.5);
