$primaryTextColor: #48494d;
$desktopWidth: 1024px;
$tabletWidth: 1023px;
$mobileWidth: 767px;
$headerFooterBackground: #f5f5f9;
$navBurgerColor: #48494d;
$borderColor: #d7d9df;
$activeButtonColor: #d12136;
$activeButtonFont: #ffffff;
$iconsDescriptionColor: rgba(72, 73, 77, 0.5);
$primaryButtonHover: #bd0c21;
$oldPriceLine: #a3a4a6;
$black: #000000;
$itemFeedbackLine: 0.5px solid rgba(0, 0, 0, 0.2);
$starColor: rgba(189, 190, 194, 0.7);
$contactsFontColor: #1a212f;
$popUpBackground: rgba(88, 87, 87, 0.6);
$footnotesColor: #ff0000;
