@import '../../variables/variables';

.textarea {
    width: 100%;
    min-height: 118px;
    border: 1px solid rgba(72, 73, 77, 0.2);
    padding: 15px 25px;
    font-size: 14px;
    line-height: 19px;
    resize: none;

    &--error {
        border-color: $activeButtonColor;
    }
}

.textarea-wrapper {
    width: 100%;
}

.textarea--required {
    position: relative;

    &:after {
        content: '*';
        position: absolute;
        top: 12px;
        left: 12px;
        font-size: 17px;
        color: $activeButtonColor;
    }
}

@media screen and (max-width: $mobileWidth) {
    .textarea--required:after {
        top: 9px;
    }
}
