@import '../../variables/variables';

.characteristics {
    width: 565px;
}

.characteristics__item {
    border-bottom: 1px solid $borderColor;
    display: flex;
    justify-content: space-between;
    padding: 24px 0 3px 0;
    line-height: 22px;
}

.characteristics__text {
    color: $black;
}

@media (max-width: $tabletWidth) {
    .characteristics {
        width: 100%;
        margin-top: 35px;
    }
    .characteristics__item {
        line-height: 19px;
    }
    .characteristics__text {
        font-weight: 600;
    }
}

@media (max-width: $mobileWidth) {
    .characteristics__title {
        width: 50%;
    }
}
