@import '../../variables/variables';

.description {
    margin-left: 57px;
}

.description__title {
    margin: 0 0 29px 0;
    font-size: 30px;
    font-weight: 700;
}

.description__price {
    margin: 36px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.description__actual-price {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    margin-right: 32px;
}

.description__old-price {
    color: $iconsDescriptionColor;
    font-size: 21px;
    line-height: 27px;
    position: relative;
    display: inline-block;

    &:before {
        content: '';
        width: 105%;
        height: 1px;
        background: #a3a4a6;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-5deg);
    }
}

.description__primary {
    margin-bottom: 20px;
}

@media screen and (max-width: $tabletWidth) {
    .description {
        margin: 60px 0 0 0;
    }
    .description__price {
        margin: 30px 0;
    }
    .description__buttons {
        display: flex;
        align-items: flex-start;
    }
    .description__primary {
        margin: 0 30px 0 0;
    }
}

@media screen and (max-width: $mobileWidth) {
    .description {
        margin-top: 20px;
        width: 100%;
    }
    .description__price {
        display: flex;
        flex-direction: column;
    }
    .description__old-line {
        left: -5px;
    }
    .description__buttons {
        flex-direction: column;
    }
    .description__primary {
        margin-bottom: 20px;
    }
}
