@import '../../variables/variables';

.page__header {
    background-color: $headerFooterBackground;
}

.page__header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px 6px;
    margin: 0 auto;
}

@media screen and (max-width: $tabletWidth) {
    .page__header-wrapper {
        padding: 15px;
    }
}
