@import '../../variables/variables';

.header {
    background-color: $headerFooterBackground;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    margin: 0 auto;
}

@media screen and (max-width: $tabletWidth) {
    .header-wrapper {
        padding: 15px;
    }
}
