@import '../../variables/variables';

.slider {
    width: 600px;
    margin-top: 17px;
}

.slider__active {
    position: relative;
    margin-bottom: 34px;
    width: 100%;
}

.slider__status {
    width: 122px;
    height: 30px;
    display: flex;
    background-color: $activeButtonColor;
    position: absolute;
    color: $activeButtonFont;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.slider__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
}

.slider__thumbnails {
    width: 128px;
    background-color: $headerFooterBackground;
}

.slider__right-arrow {
    transform: rotateY(180deg);
}

.slider__thumbnails--active {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.slider__image {
    width: 100%;
}

@media screen and (max-width: $tabletWidth) {
    .slider {
        margin: 0 auto;
        width: 100%;
    }
}

@media screen and (max-width: $mobileWidth) {
    .slider__active {
        margin-bottom: 0;
    }
    .slider__images {
        display: none;
    }
}
